@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    /* display: grid;
    border: solid 1px black;
    grid-template-areas: "nav header"
                        "nav main"
                        "nav main";
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 9fr; */
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
}

header {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 7vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s linear;
    position: sticky;
    width: 15%;
    border: solid 1px red;
}

.elementos {
    display: none;
}

.padreElements:hover .elementos {
    display: block;
    margin: 0;
}

.formulario {
    display: none;
}

.padreForms:hover .formulario {
    display: block;
}

.admin {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.3rem;
    align-items: center;
    justify-content: flex-start;
    height: 72px;
}

.admin i{
    margin: 0 20px 0 25px;
}

.smile {
    font-size: 2rem;
}

.menu {
    justify-self: flex-start;
    font-size: 2rem;
}

body .nav:hover {
    width: 15%;
}

#btnMenu:hover {
    scale: 1.1;
    cursor: pointer;
}

.nav.active {
    width: 3%;
}

ul li{
    list-style: none;
}

ul a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border-radius: 5px;
}

ul i {
    font-size: 2rem;
    margin-right: 40px;
}

ul p {
    font-size: 1.7rem;
}

main {
    width: 100%;
    height: 94vh;
    left: 0;
    margin-top: 6vh;
    border: solid 1px orangered;
    /* top: 0; */
    border-radius: 30px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

/* .imagen {
    width: 15vw;
    height: 25vh;
} */

.titulo {
    font-size: 2.5rem;
    padding: 5px;
    margin: 10px;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.producto {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100%;
    border-radius: 7px;
    margin-bottom: 15px;
}

.contenido {
    /* display: grid; */
    font-size: 1.5rem;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    text-align: center;
}

.contenido p {
    width: 50%;
}

.enviar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    right: 0;
    padding: 8px;
    width: 5vw;
    font-family: 'Poppins';
    border-radius: 7px;
    font-size: 1.2rem;
}

.productosVenta {
    /* display: flex;
    gap: 60px;
    justify-content: space-between;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    gap: 70px;
    justify-items: center;

}

