@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
    /* background-color: #0D9276; */
}

header {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 7vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s linear;
    /* position: sticky; */
    width: 25vw;
    /* border: solid 1px red; */
    /* background-color: #79c2f2; */
}

.admin {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.3rem;
    align-items: center;
    justify-content: flex-start;
    height: 72px;
    color: #1988d3;
}

.admin i{
    margin: 0 20px 0 25px;
}

.smile {
    font-size: 2rem;
}

.menu {
    justify-self: flex-start;
    font-size: 2rem;
    color: #004573;
}

body .nav:hover {
    width: 25vw;
}

#btnMenu:hover {
    scale: 1.1;
    cursor: pointer;
}

.nav.active {
    width: 4vw;
}

ul li{
    list-style: none;
    
}

ul a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border-radius: 5px;
    color: #1988d3;
}

ul i {
    font-size: 2rem;
    margin-right: 40px;
    
}

li a:hover {
    background-color: #1988d3;
    color: #FFF6E9;
}

ul p {
    font-size: 1.3rem;
}

main {
    width: 100%;
    height: 90vh;
    left: 0;
    margin-top: 6vh;
    /* border: solid 1px orangered; */
    /* top: 0; */
    border-radius: 30px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: solid 3px #0D9276;
    /* outline: #0D9276; */
    z-index: 999;
    
}

/* .imagen {
    width: 15vw;
    height: 25vh;
} */

.titulo {
    font-size: 2.5rem;
    padding: 5px;
    margin: 10px;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.producto {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: solid 1px #0D9276;
}

.contenido {
    /* display: grid; */
    font-size: 1.2rem;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    text-align: center;
    /* margin-bottom: 5px; */
    border: solid 1px #0D9276;
    border-radius: 7px;
}

.contenido p {
    width: 50%;
}

.enviar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    right: 0;
    padding: 4px 6px 4px 6px;
    width: 6vw;
    font-family: 'Poppins';
    border-radius: 7px;
    font-size: 1rem;
    border: none;
    background-color: #0D9276;
    margin-right: 5px;
    margin-bottom: 5px;
}

.productosVenta {
    /* display: flex;
    gap: 60px;
    justify-content: space-between;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    gap: 70px;
    justify-items: center;
    margin-bottom: 15px;

}

.car {
    margin-top: 30vh;
}

.carrito {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
    /* border:solid 1px #0D9276; */
    border-radius: 10px;
}

.imag {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.quantity {
    display: flex;
    flex-direction: column;
}

.elim {
    font-size: 2.5rem;
}

.comprar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid 1px red; */
    /* height: 10vh; */
}

.contenedor {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    /* justify-content: space-between; */
    align-items: center;
}

.contenedor div {
    margin-right: 40px;
}

.comprar button {
    padding: 6px;
    width: 10vw;
    font-family: 'Poppins';
    border-radius: 7px;
    font-size: 1rem;
    border: none;
}

#carritoVacio {
    font-family: 'Poppins';
    font-size: 2rem;
}

h3 {
    align-self: center;
    margin-top: 15vh;
}

.vaciarCarrito {
    margin-left: 5px;
}

button:hover {
    background-color: #BBE2EC;
    color: black;
}

.carrito i {
    color: #1988d3;
}